.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-text {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: center;
  font-weight: 700;
}
